<a href="https://colab.research.google.com/github/sabaafirdous/France-Accidents/blob/main/column__name_change.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data=pd.read_csv('/content/drive/MyDrive/DS_project_data/all_data.csv')
data.rename(columns={'senc':'Flow_direction'},inplace=True)

<ipython-input-55-d0cdf1633531>:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('/content/drive/MyDrive/DS_project_data/all_data.csv')

In [ ]:
data.columns

Index(['Unnamed: 0', 'Accident_ID', 'year_of_acc', 'month_of_acc',
       'day_of acc', 'acc_tim_in_hour_min', 'lighting_condition',
       'localisation', ' Type_of_Intersection', 'Atmospheric_conditions',
       'type_of_collision', 'Municipality', 'Departmeent', 'date', 'place',
       'User_category', ' Severity_of_the_accident', 'sex', 'route',
       ' safety_equipment', ' Location_of_the_pedestrian',
       ' Action_of_the_pedestrian', 'injured_pedestrian_was_alone_or_no',
       ' Year_of_birth', 'num_veh_x', 'Category_of_Road', 'Road_Number',
       'Traffic_regime', 'numof_traffic_lanes', 'Reserved_Lane',
       'Longitudinal Profile', 'Drawing_in_Plan', 'Central_Solid_Land',
       'Width_assigned_to_vehicle', 'Surface_Condition',
       'Development-Infrastructure', 'Situation_of_Accident', 'School_point',
       'Flow_direction', 'catagory_veh', 'occupants_num', 'obstacles_fixed',
       'obstacle_mobile', 'shock', 'maneuver', 'num_veh_y'],
      dtype='object')

In [ ]:
data['year_of_acc'].unique()

array([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006,
       2005])

In [ ]:
replacement_dict = {1:'full_day',
    2: 'Twilight or dawn',
    3: 'Night without public lighting',
    4: 'Night with public lighting not lit',
    5: 'Night with public lighting on'
}

data['lighting_condition'] = data['lighting_condition'].replace(replacement_dict)
data

,Unnamed: 0,Accident_ID,year_of_acc,month_of_acc,day_of acc,acc_tim_in_hour_min,lighting_condition,localisation,Type_of_Intersection,Atmospheric_conditions,...,Situation_of_Accident,School_point,Flow_direction,catagory_veh,occupants_num,obstacles_fixed,obstacle_mobile,shock,maneuver,num_veh_y
0,0,201600000001,2016,2,1,1445,full_day,2,1,8.0,...,1.0,0.0,0.0,7,0,0.0,0.0,1.0,1.0,B02
1,1,201600000001,2016,2,1,1445,full_day,2,1,8.0,...,1.0,0.0,0.0,2,0,0.0,0.0,7.0,15.0,A01
2,2,201600000001,2016,2,1,1445,full_day,2,1,8.0,...,1.0,0.0,0.0,7,0,0.0,0.0,1.0,1.0,B02
3,3,201600000001,2016,2,1,1445,full_day,2,1,8.0,...,1.0,0.0,0.0,2,0,0.0,0.0,7.0,15.0,A01
4,4,201600000002,2016,3,16,1800,full_day,2,6,1.0,...,1.0,0.0,0.0,7,0,6.0,0.0,1.0,1.0,A01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553971,3553971,200500087953,2005,12,27,1500,full_day,2,3,2.0,...,1.0,0.0,0.0,7,0,0.0,2.0,3.0,19.0,B01
3553972,3553972,200500087953,2005,12,27,1500,full_day,2,3,2.0,...,1.0,0.0,0.0,2,0,0.0,2.0,1.0,17.0,A01
3553973,3553973,200500087953,2005,12,27,1500,full_day,2,3,2.0,...,1.0,0.0,0.0,7,0,0.0,2.0,1.0,1.0,C01
3553974,3553974,200500087954,2005,12,31,2100,Night with public lighting on,2,1,2.0,...,1.0,0.0,0.0,7,0,4.0,0.0,0.0,1.0,A01
3553975,3553975,200500087954,2005,12,31,2100,Night with public lighting on,2,1,2.0,...,1.0,0.0,0.0,7,0,4.0,0.0,0.0,1.0,A01

In [ ]:
data['lighting_condition'].value_counts()

full_day                              2496494
Night with public lighting on          550188
Night without public lighting          280877
Twilight or dawn                       198994
Night with public lighting not lit      27423
Name: lighting_condition, dtype: int64

In [ ]:
replacement_dict = {1:'Out of agglomeration',
    2: 'In built-up areas'}

data['localisation'] = data['localisation'].replace(replacement_dict)
data

,Unnamed: 0,Accident_ID,year_of_acc,month_of_acc,day_of acc,acc_tim_in_hour_min,lighting_condition,localisation,Type_of_Intersection,Atmospheric_conditions,...,Situation_of_Accident,School_point,Flow_direction,catagory_veh,occupants_num,obstacles_fixed,obstacle_mobile,shock,maneuver,num_veh_y
0,0,201600000001,2016,2,1,1445,full_day,In built-up areas,1,8.0,...,1.0,0.0,0.0,7,0,0.0,0.0,1.0,1.0,B02
1,1,201600000001,2016,2,1,1445,full_day,In built-up areas,1,8.0,...,1.0,0.0,0.0,2,0,0.0,0.0,7.0,15.0,A01
2,2,201600000001,2016,2,1,1445,full_day,In built-up areas,1,8.0,...,1.0,0.0,0.0,7,0,0.0,0.0,1.0,1.0,B02
3,3,201600000001,2016,2,1,1445,full_day,In built-up areas,1,8.0,...,1.0,0.0,0.0,2,0,0.0,0.0,7.0,15.0,A01
4,4,201600000002,2016,3,16,1800,full_day,In built-up areas,6,1.0,...,1.0,0.0,0.0,7,0,6.0,0.0,1.0,1.0,A01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3553971,3553971,200500087953,2005,12,27,1500,full_day,In built-up areas,3,2.0,...,1.0,0.0,0.0,7,0,0.0,2.0,3.0,19.0,B01
3553972,3553972,200500087953,2005,12,27,1500,full_day,In built-up areas,3,2.0,...,1.0,0.0,0.0,2,0,0.0,2.0,1.0,17.0,A01
3553973,3553973,200500087953,2005,12,27,1500,full_day,In built-up areas,3,2.0,...,1.0,0.0,0.0,7,0,0.0,2.0,1.0,1.0,C01
3553974,3553974,200500087954,2005,12,31,2100,Night with public lighting on,In built-up areas,1,2.0,...,1.0,0.0,0.0,7,0,4.0,0.0,0.0,1.0,A01
3553975,3553975,200500087954,2005,12,31,2100,Night with public lighting on,In built-up areas,1,2.0,...,1.0,0.0,0.0,7,0,4.0,0.0,0.0,1.0,A01

In [ ]:
data['localisation'].value_counts()

In built-up areas       2245548
Out of agglomeration    1308428
Name: localisation, dtype: int64

In [ ]:

data.dtypes

Unnamed: 0                              int64
Accident_ID                             int64
year_of_acc                             int64
month_of_acc                            int64
day_of acc                              int64
acc_tim_in_hour_min                     int64
lighting_condition                     object
localisation                           object
 Type_of_Intersection                   int64
Atmospheric_conditions                float64
type_of_collision                     float64
Municipality                          float64
Departmeent                             int64
date                                   object
place                                 float64
User_category                           int64
 Severity_of_the_accident               int64
sex                                     int64
route                                 float64
 safety_equipment                     float64
 Location_of_the_pedestrian           float64
 Action_of_the_pedestrian             float64
injured_pedestrian_was_alone_or_no    float64
 Year_of_birth                        float64
num_veh_x                              object
Category_of_Road                      float64
Road_Number                            object
Traffic_regime                        float64
numof_traffic_lanes                   float64
Reserved_Lane                         float64
Longitudinal Profile                  float64
Drawing_in_Plan                       float64
Central_Solid_Land                    float64
Width_assigned_to_vehicle             float64
Surface_Condition                     float64
Development-Infrastructure            float64
Situation_of_Accident                 float64
School_point                          float64
Flow_direction                        float64
catagory_veh                            int64
occupants_num                           int64
obstacles_fixed                       float64
obstacle_mobile                       float64
shock                                 float64
maneuver                              float64
num_veh_y                              object
dtype: object

In [ ]:
diction={1:'Out of intersection',2:'Intersection in X',3:'Intersection in T',
4:'Intersection in Y',
5:'Intersection with more than 4 branches',
6:'Giratory',
7:'Place',
8:'Level crossing',
9:'Other intersection'}
data[' Type_of_Intersection'] = data[' Type_of_Intersection'].replace(diction)

In [ ]:
data[' Type_of_Intersection'].value_counts()

Out of intersection                       2517633
Intersection in X                          466937
Intersection in T                          318321
Giratory                                    84934
Other intersection                          57038
Intersection in Y                           47922
Intersection with more than 4 branches      35783
Place                                       21133
Level crossing                               3778
0                                             497
Name:  Type_of_Intersection, dtype: int64

In [ ]:
dictiona={1:'Normal',
2:'Light rain',

3:'Heavy rain',

4:'Snow - hail',

5:'Fog - smoke',

6:'Strong wind - storm',

7:'Dazzling weather',

8:'Cloudy weather',

9:'Other'}
data['Atmospheric_conditions'] = data['Atmospheric_conditions'].replace(dictiona)

In [ ]:
data['Atmospheric_conditions'].value_counts()

Normal                 2867852
Light rain              356757
Cloudy weather          119126
Heavy rain               76740
Fog - smoke              39008
Dazzling weather         33817
Snow - hail              27405
Other                    25156
Strong wind - storm       7907
Name: Atmospheric_conditions, dtype: int64

In [ ]:
dictionary={1:'Two vehicles - frontal',

2:'Two vehicles - from the rear',

3:'Two vehicles - by the side',

4:'Three vehicles and more - in chain',

5:'Three or more vehicles - multiple collisions',

6:'Other collision',

7:'Without collision'

}
data['type_of_collision']=data['type_of_collision'].replace(dictionary)

In [ ]:
data['type_of_collision'].value_counts()

Two vehicles - by the side                      1138625
Other collision                                  635431
Two vehicles - from the rear                     461584
Two vehicles - frontal                           427320
Three or more vehicles - multiple collisions     384942
Three vehicles and more - in chain               365031
Without collision                                140993
Name: type_of_collision, dtype: int64

In [ ]:
data['place'].value_counts()

1.0    2765834
2.0     388802
3.0      90536
4.0      77364
0.0      65398
5.0      44196
8.0       8581
7.0       3947
6.0       3042
9.0       2186
Name: place, dtype: int64

In [ ]:
di={1:'Driver',
2:'Passenger',
3:'Pedestrian',
4:'Pedestrian in rollerblade or scooter'}
data['User_category']=data['User_category'].replace(di)

In [ ]:
data['User_category'].value_counts()

Driver                                  2761937
Passenger                                626793
Pedestrian                               161840
Pedestrian in rollerblade or scooter       3406
Name: User_category, dtype: int64

In [ ]:
d={
1:'Unscathed',2:'Killed',

3:'Hospitalized wounded',

4:'Light injury'
}
data[' Severity_of_the_accident']=data[' Severity_of_the_accident'].replace(d)

In [ ]:
data[' Severity_of_the_accident'].value_counts()

Unscathed               1562171
Light injury            1240898
Hospitalized wounded     668756
Killed                    82151
Name:  Severity_of_the_accident, dtype: int64

In [ ]:
dat={
1:'Male',
2:'Female'
}
data['sex']=data['sex'].replace(dat)

In [ ]:
data['sex'].value_counts()

Male      2391347
Female    1162629
Name: sex, dtype: int64

In [ ]:
 d={1:'Home - work',

2:'Home - school',

3:'Shopping - Shopping',

4 :'Professional use',

5:'Promenade - leisure',

9:'Other'}
data['route']=data['route'].replace(d)

In [ ]:
data['route'].value_counts()

Promenade - leisure    1261744
0.0                    1062505
Home - work             483541
Professional use        370068
Other                   235357
Shopping - Shopping      80309
Home - school            59624
Name: route, dtype: int64

In [ ]:
f={11:'belt-yes',
21:'Helmet-yes',
13:'belt-Not determinable',
93:'other-not determinable' ,
23:'Helmet-not determinable',
12:'belt-no',
22:'helmet-no',
31:'Childrens device-yes',
91:' Other-yes',
10:'belt-',
92:'other-no',
1:'belt',
41:'reflective equipment-yes',
43:' Reflective equipment-Not determinable',
42:'Reflective equipment-yes',
33:'Childrens device-Not determinable',
20:'helmet-',
32:'Childrens device-no',
2:'helmet',
3:'Childrens device',
90:' Other',
30:'Childrens device',
40:'reflective equipment'}
data[' safety_equipment']=data[' safety_equipment'].replace(f)

In [ ]:
 data[' safety_equipment'].value_counts()

belt-yes                                  2134700
Helmet-yes                                 629830
belt-Not determinable                      286695
other-not determinable                     139049
0.0                                         79538
Helmet-not determinable                     68156
belt-no                                     51346
helmet-no                                   34417
Childrens device-yes                        27316
 Other-yes                                  12363
belt-                                       10912
other-no                                    10793
belt                                         6812
reflective equipment-yes                     4433
 Reflective equipment-Not determinable       3525
Reflective equipment-yes                     2650
Childrens device-Not determinable            1459
helmet-                                      1452
Childrens device-no                          1261
helmet                                        409
Childrens device                              256
 Other                                        163
reflective equipment                            3
Name:  safety_equipment, dtype: int64

In [ ]:
#Replace values in columns
data[' Action_of_the_pedestrian']=data[' Action_of_the_pedestrian'].replace({0:'not specified or not applicable',
                                           1:'Meaning bumping vehicle',
                                           2:'Opposite direction of the vehicle',
                                           3:'Crossing',
                                           4:'Masked',
                                           5:'Playing - running',
                                           6:'With animal',
                                           9:'Other'})
data[' Action_of_the_pedestrian'].value_counts()

not specified or not applicable      3392485
Crossing                              117475
Other                                  12476
Playing - running                       9370
Meaning bumping vehicle                 8987
Opposite direction of the vehicle       4579
Masked                                  2917
With animal                              365
Name:  Action_of_the_pedestrian, dtype: int64

In [ ]:
replacement_dict={
    1:'Only',
    2:'Accompanied',
    3:'In a group'
}
data['injured_pedestrian_was_alone_or_no']=data['injured_pedestrian_was_alone_or_no'].replace(replacement_dict)
data['injured_pedestrian_was_alone_or_no'].value_counts()

0.0            3393966
Only            116449
Accompanied      31246
In a group        7171
Name: injured_pedestrian_was_alone_or_no, dtype: int64

In [ ]:
replacement_dict={
    1:'Highway',
    2:'National Road',
    3:'Departmental Road',
    4:'Communal Way',
    5:'Off public network',
    6:'Parking lot open to public traffic',
    9:'other'
}
data['Category_of_Road']=data['Category_of_Road'].replace(replacement_dict)
data['Category_of_Road'].value_counts()

Communal Way                          1610545
Departmental Road                     1126663
Highway                                384965
National Road                          351816
other                                   59087
Parking lot open to public traffic      16161
Off public network                       4737
Name: Category_of_Road, dtype: int64

In [ ]:
replacement_dict={
    1:'One way',
    2:'Bidirectional',
    3:'Separated carriageways',
    4:'With variable assignment channels'
}
data['Traffic_regime']=data['Traffic_regime'].replace(replacement_dict)
data['Traffic_regime'].value_counts()

Bidirectional                        2181674
One way                               601496
Separated carriageways                583315
0.0                                   163446
With variable assignment channels      20802
Name: Traffic_regime, dtype: int64

In [ ]:
replacement_dict={
    1:'Bike path',
    2:'Cycle Bank',
    3:'Reserved channel'
}
data['Reserved_Lane']=data['Reserved_Lane'].replace(replacement_dict)
data['Reserved_Lane'].value_counts()

0.0                 3334024
Reserved channel      98407
Bike path             67117
Cycle Bank            47344
Name: Reserved_Lane, dtype: int64

In [ ]:
replacement_dict={
    1:'Dish',
    2:'Slope',
    3:'Hilltop',
    4:'Hill bottom'
}
data['Longitudinal Profile']=data['Longitudinal Profile'].replace(replacement_dict)
data['Longitudinal Profile'].value_counts()

Dish           2688706
Slope           480567
0.0             260410
Hilltop          70925
Hill bottom      48995
Name: Longitudinal Profile, dtype: int64

In [ ]:
replacement_dict={
    1:'Straight part',
    2:'Curved on the left',
    3:'Curved right',
    4:'In "S"'
}
data['Drawing_in_Plan']=data['Drawing_in_Plan'].replace(replacement_dict)
data['Drawing_in_Plan'].value_counts()

Straight part         2799365
Curved on the left     244724
Curved right           243929
0.0                    220083
In "S"                  41401
Name: Drawing_in_Plan, dtype: int64

In [ ]:
replacement_dict={
    1:'normal',
    2:'wet',
    3:'puddles',
    4:'flooded',
    5:'snow',
    6:'mud',
    7:'icy',
    8:'fat-oil',
    9:'other'
}
data['Surface_Condition']=data['Surface_Condition'].replace(replacement_dict)
data['Surface_Condition'].value_counts()

normal     2775830
wet         604281
0.0         102024
icy          26320
other        14421
snow         13494
fat-oil       7406
puddles       3272
flooded       1545
mud           1171
Name: Surface_Condition, dtype: int64

In [ ]:
replacement_dict={
    1:'Underground - tunnel',
    2:'Bridge - autopont',
    3:'Exchanger or connection brace',
    4:'Railway',
    5:'Carrefour arranged',
    6:'Pedestrian area',
    7:'Toll zone',

}
data['Development-Infrastructure']=data['Development-Infrastructure'].replace(replacement_dict)
data['Development-Infrastructure'].value_counts()

0.0                              3130107
Carrefour arranged                234926
Exchanger or connection brace      59797
Bridge - autopont                  59280
Underground - tunnel               35446
Pedestrian area                    13261
Railway                            11975
Toll zone                           3723
Name: Development-Infrastructure, dtype: int64

In [ ]:
replacement_dict={
    1:' On the road',
    2:'On emergency stop band',
    3:'On the verge',
    4:'On the sidewalk',
    5:'On bike path',

}
data['Situation_of_Accident']=data['Situation_of_Accident'].replace(replacement_dict)
data['Situation_of_Accident'].value_counts()

 On the road              3231418
0.0                        158412
On the verge                92231
On the sidewalk             29484
On emergency stop band      20390
On bike path                17844
Name: Situation_of_Accident, dtype: int64

In [ ]:
replacement_dict={
    1:'increasing postal address number',
    2:'descending postal address number',

}
data['Flow_direction']=data['Flow_direction'].replace(replacement_dict)
data['Flow_direction'].value_counts()

0.0                                 3305675
increasing postal address number     155583
descending postal address number      92549
Name: Flow_direction, dtype: int64

In [ ]:
replacement_dict={
    1:'Bicycle',
    2:'Moped <50cm3',
    3:'Cart or motor tricycle',
    4:'Not used since 2006 (registered scooter)',
    5:'Not used since 2006 (motorcycle)',
    6:'Not used since 2006 (side-car)',
    7:'VL only',
    8:'Not used category (VL + caravan)',
    9:'Not used category (VL + trailer)',
    10:'VU only 1,5T <= GVW <= 3,5T with or without trailer (formerly VU only 1,5T <= GVW <= 3,5T)',
    11: 'Reference plus utilisation depuis 2006 (VU (10) + caravane)',
    12: 'Reference plus utilisation depuis 2006 (VU (10) + remorque)',
    13: 'PL Seoul 3,5T < PTCA <= 7,5T',
    14: 'PL Seoul > 7,5T',
    15: 'PL > 3,5T + trailer',
    16: 'Tracteur routier seul',
    17: 'Tracteur routier + semi-remorque',
    18: 'Reference plus utilisation depuis 2006 (transport en commun)',
    19: 'Reference plus utilisation depuis 2006 (tramway)',
    20: 'Engine spÃ©cial',
    21: 'Tracteur agricole',
    30: 'Scooter < 50 cm3',
    31: 'Motorcycle > 50 cm et <= 125 cm',
    32: 'Scooter >50cm et<=125cm',
    33: 'Motorcycle',
    34: 'Scooter',
    35: 'Quad',
    36: 'Quad lourd > 50 cm (Quadricycle Ã  moteur non carrossÃ©)',
    37: 'Bus',
    38: 'Autocar',
    39: 'Train',
    40: 'Tramway',
    99: 'Autre vehicule'

}
data['catagory_veh']=data['catagory_veh'].replace(replacement_dict)
data['catagory_veh'].value_counts()

VL only                                                                                       2357455
Motorcycle                                                                                     202063
VU only 1,5T <= GVW <= 3,5T with or without trailer (formerly VU only 1,5T <= GVW <= 3,5T)     184886
Moped <50cm3                                                                                   163972
Scooter < 50 cm3                                                                               120593
Bicycle                                                                                        116523
Scooter >50cm et<=125cm                                                                         59258
Motorcycle > 50 cm et <= 125 cm                                                                 55999
Not used since 2006 (motorcycle)                                                                45003
PL Seoul > 7,5T                                                                                 40105
Tracteur routier + semi-remorque                                                                32918
PL > 3,5T + trailer                                                                             31484
Scooter                                                                                         27586
Bus                                                                                             24976
Not used since 2006 (registered scooter)                                                        15071
PL Seoul 3,5T < PTCA <= 7,5T                                                                    13343
Autre vehicule                                                                                  12072
Cart or motor tricycle                                                                          11695
Autocar                                                                                         10476
Tracteur agricole                                                                                6483
Reference plus utilisation depuis 2006 (transport en commun)                                     6318
Tramway                                                                                          3626
Engine spÃ©cial                                                                                   3549
Quad lourd > 50 cm (Quadricycle Ã  moteur non carrossÃ©)                                           2923
Tracteur routier seul                                                                            1746
Train                                                                                            1023
Not used category (VL + trailer)                                                                  949
Quad                                                                                              679
Reference plus utilisation depuis 2006 (tramway)                                                  456
Not used category (VL + caravan)                                                                  380
Reference plus utilisation depuis 2006 (VU (10) + remorque)                                       244
Not used since 2006 (side-car)                                                                     79
Reference plus utilisation depuis 2006 (VU (10) + caravane)                                        43
Name: catagory_veh, dtype: int64

In [ ]:
replacement_dict={
1: "Parked vehicle",
2: "Tree",
3: "Metal Slide",
4: "Concrete slide",
5: "Other slider",
6: "Building, wall, bridge pier",
7: "Vertical signaling support or emergency call station",
8: "Post",
9: "Urban furniture",
10: "Parapet",
11: "Island, refuge, upper boundary",
12: "Curb",
13: "Ditch, embankment, rock face",
14: "Other fixed obstacle on roadway",
15: "Other fixed obstacle on sidewalk or shoulder 16 â€“ Exit from roadway without obstacle"

}
data['obstacles_fixed']=data['obstacles_fixed'].replace(replacement_dict)
data['obstacles_fixed'].value_counts()

0.0                                                                                     3183525
Parked vehicle                                                                            70771
Ditch, embankment, rock face                                                              42996
Metal Slide                                                                               37326
Tree                                                                                      34388
Concrete slide                                                                            33144
Building, wall, bridge pier                                                               29023
Other fixed obstacle on roadway                                                           27323
Post                                                                                      26589
Curb                                                                                      13056
16.0                                                                                      12343
Other fixed obstacle on sidewalk or shoulder 16 â€“ Exit from roadway without obstacle      12337
Urban furniture                                                                            8900
Vertical signaling support or emergency call station                                       5847
Island, refuge, upper boundary                                                             5837
Other slider                                                                               3804
Parapet                                                                                    3123
Name: obstacles_fixed, dtype: int64

In [ ]:
replacement_dict={
    0: "unknown_0",
    1: "Pedestrian",
    2: "Vehicle",
    4: "Rail_vehicle",
    5: "Pet",
    6: "Wild_Animal",
    9: "Other",
    None: "unknown"

}
data['obstacle_mobile']=data['obstacle_mobile'].replace(replacement_dict)
data['obstacle_mobile'].value_counts()

Vehicle         2540092
unknown_0        651683
Pedestrian       303403
Other             47874
Rail_vehicle       3553
Wild_Animal        3393
Pet                2280
Name: obstacle_mobile, dtype: int64

In [ ]:
data.head()

,Unnamed: 0,Accident_ID,year_of_acc,month_of_acc,day_of acc,acc_tim_in_hour_min,lighting_condition,localisation,Type_of_Intersection,Atmospheric_conditions,...,Situation_of_Accident,School_point,Flow_direction,catagory_veh,occupants_num,obstacles_fixed,obstacle_mobile,shock,maneuver,num_veh_y
0,0,201600000001,2016,2,1,1445,full_day,In built-up areas,Out of intersection,Cloudy weather,...,On the road,0.0,0.0,VL only,0,0.0,unknown_0,1.0,1.0,B02
1,1,201600000001,2016,2,1,1445,full_day,In built-up areas,Out of intersection,Cloudy weather,...,On the road,0.0,0.0,Moped <50cm3,0,0.0,unknown_0,7.0,15.0,A01
2,2,201600000001,2016,2,1,1445,full_day,In built-up areas,Out of intersection,Cloudy weather,...,On the road,0.0,0.0,VL only,0,0.0,unknown_0,1.0,1.0,B02
3,3,201600000001,2016,2,1,1445,full_day,In built-up areas,Out of intersection,Cloudy weather,...,On the road,0.0,0.0,Moped <50cm3,0,0.0,unknown_0,7.0,15.0,A01
4,4,201600000002,2016,3,16,1800,full_day,In built-up areas,Giratory,Normal,...,On the road,0.0,0.0,VL only,0,"Building, wall, bridge pier",unknown_0,1.0,1.0,A01

In [ ]:
data.to_csv('/content/drive/MyDrive/DS_project_data/france accidents/Categorical_data.csv')